/* Base container */
body {
    background-color: rgb(47, 47, 47);
    color: whitesmoke;
}

/* Classes */
.orbitron-font {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.lilita-one-font {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.cascadia-mono-font {
  font-family: "Cascadia Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.spacer {
    height: 100vh;
}

.hidden-text {
    color: rgb(47, 47, 47);
}


/* Elements */
h1 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Cascadia Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

hint {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
